#head{
    color: rgb(82, 38, 201);
    text-align: center;
    margin-top: 10%;
    font-family: supermercado one;
    font-size: 45px;
}

.home p{
    margin: 70px 100px 75px 100px;
    text-align: justify;
    margin-top: 3%;
    font-family: roboto mono;
}